@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  min-height: 100vh;
  max-width: 100%;
  color: black;
  background-color: #164e63;
}

.global_container {
  padding-top: 20px;
  width: 89%;
  height: auto;
  margin: 0 auto;
}